{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <!-- Botão hamburguer -->
    <div class="menu-toggle" onclick="toggleMenu()">
        &#9776;
    </div>

    <!-- Menu lateral escondido com os links -->
    <div id="side-menu" class="side-menu">
        <a href="{% url 'clientes' %}">Clientes</a>
        <a href="{% url 'produtos' %}">Produtos</a>
        <a href="{% url 'funcionarios' %}">Funcionários</a>
    </div>

    <!-- Links centrais -->
    <div style="text-align: center; margin-top: 40px;">
        <a href="{% url 'clientes' %}"> Clientes</a> 
        <a href="{% url 'produtos' %}"> Produtos</a> 
        <a href="{% url 'funcionarios' %}"> Funcionários</a>
        <a href="{% url 'motorista' %}"> Motorista</a>
        <a href="{% url 'transporte' %}"> Transporte</a>
    </div>
{% endblock %}
